In [1]:
#import libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore') # if there are any warning due to version mismatch, it will be ignored

In [2]:
#load dataset
IMDB_df = pd.read_csv('imdb.csv')
IMDB_df

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,"107,163","Action, Adventure, Thriller",163,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
1,The Guilty,2021,6.3,"64,375","Crime, Drama, Thriller",90,Film,R,-,None,None,Severe,None,Moderate
2,The Many Saints of Newark,2021,6.4,"27,145","Crime, Drama",120,Film,R,-,Moderate,Severe,Severe,Moderate,Moderate
3,Venom: Let There Be Carnage,2021,6.4,"30,443","Action, Adventure, Sci-Fi",97,Film,PG-13,-,None,Moderate,Moderate,Mild,Moderate
4,Dune,2021,8.3,"84,636","Action, Adventure, Drama",155,Film,PG-13,-,None,Moderate,None,Mild,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6173,The Human Centipede II (Full Sequence),2011,3.8,"37,492",Horror,91,Film,Not Rated,-,Severe,Severe,Severe,Mild,Severe
6174,Double Indemnity,1944,8.3,"150,448","Crime, Drama, Film-Noir",107,Film,Passed,-,None,Mild,None,Mild,Mild
6175,Before the Devil Knows You're Dead,2007,7.3,"100,668","Crime, Drama, Thriller",117,Film,R,-,Severe,Moderate,Severe,Severe,Severe
6176,Queen Bees,2021,6.0,887,"Comedy, Drama, Romance",100,Film,PG-13,-,None,None,Mild,Moderate,None
6177,Death Race,2008,6.3,"203,578","Action, Sci-Fi, Thriller",105,Film,R,-,Mild,Severe,Severe,Mild,Moderate

In [3]:
IMDB_df.shape

(6178, 14)

In [4]:
IMDB_df.columns

Index(['Name', 'Date', 'Rate', 'Votes', 'Genre', 'Duration', 'Type',
       'Certificate', 'Episodes', 'Nudity', 'Violence', 'Profanity', 'Alcohol',
       'Frightening'],
      dtype='object')

In [5]:
'''
Used for calculating some statistical data like percentile,
mean and std of the numerical values
'''
IMDB_df.describe()

              Date
count  6178.000000
mean   2005.952574
std      15.910248
min    1922.000000
25%    1998.000000
50%    2011.000000
75%    2019.000000
max    2023.000000

In [6]:
'''
This will include count, unique, top and freq. 
The top is the most common value. 
The freq is the most common valueâ€™s frequency.
'''
IMDB_df.describe(include = 'object')

,Name,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
count,6178,6178,6178,6178,6178,6178,6178,6178,6178,6178,6178,6178,6178
unique,4820,77,4802,377,203,2,23,284,5,5,5,5,5
top,King Kong,7.3,No Votes,Comedy,60,Film,R,-,Mild,Moderate,Mild,Mild,Moderate
freq,5,273,185,268,352,4446,1885,4446,2292,1814,2077,3257,1969

In [7]:
IMDB_df.Name=='King Kong'

0       False
1       False
2       False
3       False
4       False
        ...
6173    False
6174    False
6175    False
6176    False
6177    False
Name: Name, Length: 6178, dtype: bool

In [8]:
KingKong_data = IMDB_df.loc[IMDB_df.Name=='King Kong'] 
KingKong_data

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
2084,King Kong,2005,7.2,"407,876","Action, Adventure, Drama",187,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
4207,King Kong,1976,5.9,"31,536","Adventure, Horror",134,Film,PG,-,Mild,Moderate,Mild,Mild,Moderate
4951,King Kong,1933,7.9,"82,705","Adventure, Horror, Sci-Fi",100,Film,Passed,-,Mild,Moderate,None,Mild,Moderate
5357,King Kong,1976,5.9,"31,536","Adventure, Horror",134,Film,PG,-,Mild,Moderate,Mild,Mild,Moderate
6101,King Kong,1933,7.9,"82,705","Adventure, Horror, Sci-Fi",100,Film,Passed,-,Mild,Moderate,None,Mild,Moderate

In [9]:
#Finding Columns with Missing Values
IMDB_df.isna().any()

Name           False
Date           False
Rate           False
Votes          False
Genre          False
Duration       False
Type           False
Certificate    False
Episodes       False
Nudity         False
Violence       False
Profanity      False
Alcohol        False
Frightening    False
dtype: bool

In [ ]:
for i in range(0,IMDB_df.shape[0]):
  IMDB_df['Votes'][i] = IMDB_df['Votes'][i].replace(',', '')

IMDB_df['Votes']